{
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": [
    "^node:",
    "^@",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": [
    "prettier-plugin-sorted"
  ],
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}