{
  "arrowParens": "always",
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^src/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "printWidth": 80,
  "tabWidth": 2
}